.header{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 37%, rgba(252,176,69,1) 96%);
}
.wrapper{
  border: 1.5px solid rgba(255,255,255,0.06);
  box-shadow: 0px 15px 45px rgba(0,0,0,0.7); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 400px;
  border-radius: 10px;
  /* background-color:white; */
}
.timer{
  font-size: 40px;
  /* background-color: red; */
  padding: 20px;
  margin-bottom:10px;
  color: wheat;
}
.btn{
  padding:10px 30px;
  margin-left: 10px;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  transition: 0.3s;
}
.btn:active{
  opacity: 0.7;
}
.btn1{
  color: rgba(131,58,180,1);
}
.btn3{
  color: rgba(253,29,29,1);
}
.btn2{
  color: rgba(252,176,69,1);
}